html, body {
	width: 30em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.downloads-header {
	margin-top: 0rem;
	margin-bottom: 0.5rem;
}

.hidden {
	display: none;
}

.options {
	float: right;
}

.button {
	margin: 3% auto;
	padding: 4px;
	text-align: center;
	font-size: 1.5em;
	cursor: pointer;
}

.autoresume:hover {
	background-color: #CFF2F2;
}

.autoresume {
	background-color: #E5F2F2;
}

.reset {
	background-color: #FBFBC9;
}

.reset:hover {
	background-color: #EAEA9D;
}
